<div class="todo {{if @todo.completed 'done'}}">
  <div class="todo-text">
    <input
      type="checkbox"
      checked={{@todo.completed}}
      {{on "change" this.toggle}}
    />
    <span class="todo-title">{{@todo.title}}</span>
  </div>

  <button
    type="button"
    class="delete"
    {{on "click" this.delete}}
    aria-label="Delete task"
  >
    Remove
  </button>
</div>
