<div class="todo-item {{if @todo.completed 'done'}}">
  <label>
    <input
      type="checkbox"
      checked={{@todo.completed}}
      {{on "change" this.toggle}}
    />
    <span>{{@todo.title}}</span>
  </label>

  <button
    type="button"
    class="delete"
    {{on "click" this.delete}}
    aria-label="Delete task"
  >
    ✕
  </button>
</div>
